body{
    margin:0;
    padding:20px;

    background:
    linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url("https://i.pinimg.com/736x/b6/ce/22/b6ce22d963851429fc5a53e5dda6dc59.jpg");

    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:scroll;

    font-family:Arial, sans-serif;
}


h1{
    color:#FFD700;
    text-align:center;
    font-size:70px;
    text-shadow:
    4px 4px 8px black;
}

p{
    color:#FFFFFF;
    font-size:20px;
    line-height:1.6;
}

li{
    font-size:22px;
    color:#FFD700;
    font-weight:bold;
}

button{
    background:#CE1126;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

button:hover{

    background:#0038A8;

}body{
    margin:0;
    padding:20px;

    background:
    linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url("https://i.pinimg.com/736x/b6/ce/22/b6ce22d963851429fc5a53e5dda6dc59.jpg");

    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:scroll;

    font-family:Arial, sans-serif;
}


h1{
    color:#FFD700;
    text-align:center;
    font-size:70px;
    text-shadow:
    4px 4px 8px black;
}

p{
    color:#FFFFFF;
    font-size:20px;
    line-height:1.6;
}

li{
    font-size:22px;
    color:#FFD700;
    font-weight:bold;
}

button{
    background:#CE1126;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

button:hover{

    background:#0038A8;

}
